
@import "tailwindcss";
@import "primeicons/primeicons.css";

/*
:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
  font-family: var(--font-sans);
}
/* src/styles.css */
body {
  @apply bg-black text-zinc-100;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;;
}


:root {
  /* Escala de grises neutros para evitar el tinte azul */
  --background: 0 0% 0%;       /* Negro absoluto #000000 */
  --foreground: 0 0% 98%;      /* Blanco casi puro */
  --card: 0 0% 3%;             /* Gris casi negro para tarjetas */
  --border: 0 0% 15%;          /* Bordes sutiles */
}

body {
  background-color: black;
  color: #f4f4f5; /* zinc-100 */
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Mejora el scrollbar para que no sea blanco y rompa el diseño */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 5px;
}





@layer utilities {
  .bg-grid-pattern {
    background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
    background-size: 32px 32px;
  }

  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}


/* SNACKBAR NOFITICATION */
.snackbar-success {
  background-color: #16a34a; /* verde */
  color: #ffffff;
}

.snackbar-error {
  background-color: #dc2626; /* rojo */
  color: #ffffff;
}

.snackbar-info {
  background-color: #2563eb;
  color: #ffffff;
}

.snackbar-success::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: snackbar-timer 3s linear forwards;
}

@keyframes snackbar-timer {
  from { width: 100%; }
  to   { width: 0%; }
}
