
@import "tailwindcss";
@import "primeicons/primeicons.css";

/*

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
  font-family: var(--font-sans);
}

// AUTH-LAYOUT
.bg-grid-pattern {
background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
    background-size: 24px 24px;
}
//

// SNACKBAR NOFITICATION
.snackbar-success {
  background-color: #16a34a; /* verde */
  color: #ffffff;
}

.snackbar-error {
  background-color: #dc2626; /* rojo */
  color: #ffffff;
}

.snackbar-info {
  background-color: #2563eb;
  color: #ffffff;
}

.snackbar-success::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: snackbar-timer 3s linear forwards;
}

@keyframes snackbar-timer {
  from { width: 100%; }
  to   { width: 0%; }
}
